<head>
  <meta charset="UTF-8">
  <title>Tech Blog</title>
  <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      
      <a href="/">Tech Blog</a>
      <div><a href="/api/login">Login</a></div>
      
      
      <h2>Dashboard</h2>
    </header>   
      <main class="container container-fluid mt-5">
        {{{ body }}}
      </main>
  </div>
  </body>

</html>