<section>
  <div
    class="columns is-gapless m-0 is-variable is-2 cardContainer is-multiline is-centered"
  >
    <!--Login Section-->
    <div
      class="column is-half-tablet is-one-third-desktop is-one-third-widescreen"
    >

      <div class="card">
        <div class="box">

          <textarea
            class="textarea"
            placeholder="Type things here"
            rows="10"
          ></textarea>

          <button class="login-form button is-primary" id="login">
            Post it
          </button>

        </div>
      </div>
    </div>

    <!-- Right/Info Section -->
    <div
      class="column is-half-tablet is-one-third-desktop is-one-third-widescreen"
    >
      <div class="card">
        <div class="card-image"></div>
        <div class="card-content">
          <div class="content">
            BLOG THIS SHIT.
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>